CYCLES=100
GRIDSIZE=24
LIVECELL=" #"
DEADCELL=" ."
DELAYTIME=0.2

-- Conway's Game of Life
---[[
Simulation{
    {3},    -- dead cells with these states live
    {2, 3}, -- live cells with these states live
}
--]]

-- High Life
--[[
Simulation{
    {3, 6},
    {2, 3},
}
--]]

-- Inverter
--[[
Simulation{
    {1, 2, 3, 4, 5, 6, 7, 8, 9},
    {},
}
--]]
